html {

}

body {
    background-color: #353B43;
    margin: 0;
    padding: 0;
	font-family: sans-serif;
	overflow: hidden;
	font-size: 10pt;
}

ul.border {
	box-shadow: 0px 0px 2px #000;
}

ul {
	display: block;
	width: 25%;
	margin: 15% auto;
	padding: 0;
	list-style: none;
}

a {
	display: block;
	padding: 10px;
	color: #ccc;
	text-decoration: none;
	transition: all .3s ease;
	opacity: 0.5;
}

a:hover {
	color: #fff;
	opacity: 1;
	transition: all .3s ease;
}

a.parent1 {background: #666666;transition: all .3s ease;}
a.parent2 {background: #666666;transition: all .3s ease;}
a.parent3 {background: #666666;transition: all .3s ease;}
a.parent4 {background: #666666;transition: all .3s ease;}
a.parent5 {background: #666666;transition: all .3s ease;}

a.tab1 {background: #336666;transition: all .3s ease;}
a.tab2 {background: #57606C;transition: all .3s ease;}
a.tab3 {background: #336633;transition: all .3s ease;}
a.tab4 {background: #663366;transition: all .3s ease;}
a.tab5 {background: #6BB224;transition: all .3s ease;}

a.parent1:hover {background: #336666;transition: all .3s ease;text-indent: 5px;}
a.parent2:hover {background: #663333;transition: all .3s ease;text-indent: 5px;}
a.parent3:hover {background: #336633;transition: all .3s ease;text-indent: 5px;}
a.parent4:hover {background: #663366;transition: all .3s ease;text-indent: 5px;}
a.parent5:hover {background: #6BB224;transition: all .3s ease;text-indent: 5px;}

a.tab1:hover {background: #336666;transition: all .3s ease;text-indent: 5px;}
a.tab2:hover {background: #663333;transition: all .3s ease;text-indent: 5px;}
a.tab3:hover {background: #336633;transition: all .3s ease;text-indent: 5px;}
a.tab4:hover {background: #663366;transition: all .3s ease;text-indent: 5px;}
a.tab5:hover {background: #6BB224;transition: all .3s ease;text-indent: 5px;}

ul > li:hover > a.parent1 {background: #336666;transition: all .3s ease;opacity: 1;color: #fff;text-indent: 5px;}
ul > li:hover > a.parent2 {background: #663333;transition: all .3s ease;opacity: 1;color: #fff;text-indent: 5px;}
ul > li:hover > a.parent3 {background: #336633;transition: all .3s ease;opacity: 1;color: #fff;text-indent: 5px;}
ul > li:hover > a.parent4 {background: #663366;transition: all .3s ease;opacity: 1;color: #fff;text-indent: 5px;}
ul > li:hover > a.parent5 {background: #666633;transition: all .3s ease;opacity: 1;color: #fff;text-indent: 5px;}

ul.subMenu {
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
}

img {
	width: 100%;
	height: auto;
}

.searchContainer {
	margin: 0 auto;
	width: 100%;
}

.searchBar {
	width: 98.7%;
	display: block;
	background: #3D5200;
	border: 0;
	color: #999999;
	opacity: 0;
	margin: 0;
	transition: all .25s;
	padding: 10px;

}

.searchBar:focus {
	transition: all .25s;
	opacity: 1;
	font-size: 25px;
}